<div class="modal demo-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">{{value.requestID}}</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="editForm" class="post-form">
          <div class="form-group">
            <label>Patient Name</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="patientName">
          </div>
          <div class="form-group">
            <label>Hospital Name</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="hospitalName">
          </div>
          <div class="form-group">
            <label>Diagnosis</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="patientDiagnosis">
          </div>
          <div class="form-group">
            <label>Blood Type</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="patientBloodType">
          </div>
          <div class="form-group">
            <label>Blood Component</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="patientBloodComponent">
          </div>
          <div class="form-group">
            <label>Units</label><span class="required">*</span>
            <input type="text" class="form-control" formControlName="patientBloodUnits">
          </div>

          <label>Medical Prescription Photo</label><span class="required">*</span>
              <img
              [src]="value.patientDiagnosisPhotoUrl"
              alt="patientDiagnosisPhoto"
              class="preview-image"
              />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editRequest()" *ngIf="value.status === 'For Approval'" [disabled]="editForm.invalid" >Modify</button>
        <button type="button" class="btn btn-danger" *ngIf="value.status === 'For Approval'" (click)="deleteRequest()" >Delete</button>
        <button type="button" class="btn  btn-outline-dark" (click) = "activeModal.close()" >Back</button>
      </div>
    </div>
  </div>
</div>

