<div class = "content-wrapper" >
    <div class="d-flex align-items-center px-0 bg-transparent" >
      <div class="row w-100 mx-0 my-5 bg-transparent ">
        <div class="col-lg-8 mx-auto auth">
            <div class="shadow-lg auth-form-light text-left py-5 px-4 px-sm-5 ">
                <div class=WordSection1>

                    <p class=MsoNormal style='text-align:justify'><b><span lang=EN
                    style='font-size:20.0pt;line-height:115%'>PRIVACY POLICY</span></b></p>
                    
                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
                    12.0pt;margin-left:0in;text-align:justify'><span lang=EN style='color:#434343'>Last
                    updated April, 2021</span></p>
                    
                    <div class=MsoNormal align=center style='text-align:center'><span lang=EN>
                    
                    <hr size=2 width="100%" align=center>
                    
                    </span></div>
                    
                    <p class=MsoNormal style='text-align:justify'><b><span lang=EN
                    style='font-size:20.0pt;line-height:115%'>&nbsp;</span></b></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>This
                    Privacy Policy governs the manner in which <b>The Red Bank Foundation</b>
                    collects, uses, maintains and discloses information collected from users (each,
                    a “User”) of the <b>theredbank.web.app</b> website (“Site”). This
                    Privacy Policy applies to the Site and all products and services offered by The
                    Red Bank Foundation.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_nvtaovq2pvvd"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>Personal identification information</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>We
                    may collect personal identification information from Users in a variety of
                    ways, including, but not limited to, when Users visit our site, make a
                    contribution and in connection with other activities, services, features or resources
                    we make available on our Site. Users may be asked for, as appropriate, name,
                    email address, mailing address information and other necessary information.</span></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>We
                    will collect personal identification information from Users only if they
                    voluntarily submit such information to us. </span></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>&nbsp;</span></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><b><span lang=EN
                    style='font-size:16.0pt;line-height:155%'>Non-personal identification
                    information</span></b></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>We
                    may collect non-personal identification information about Users whenever they
                    interact with our Site. Non-personal identification information may include the
                    browser name, the type of computer and technical information about Users’ means
                    of connection to our Site, such as the operating system and the Internet
                    service providers utilized and other similar information.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_jj8n6bobsspm"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>&nbsp;</span></b></h3>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_p8jqn0z3iwyl"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>Web browser cookies</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>Our
                    Site may use “cookies” to enhance User experience. Users’ web browsers place
                    cookies on their hard drive for record-keeping purposes and sometimes to track
                    information about them. Cookies can either be permanent (last on a computer
                    until deleted) or temporary (it lasts only until the browser is closed). Users
                    may choose to set their web browser to refuse cookies, or to alert users when
                    cookies are being sent. If they do so, note that some parts of the Site may not
                    function properly.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_o2xwll2mmjcs"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>How we use collected information</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>The
                    Red Bank Foundation collects and uses Users personal information for the
                    following purposes:</span></p>
                    
                    <p class=MsoNormal style='margin-top:25.0pt;margin-right:0in;margin-bottom:
                    0in;margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in;
                    line-height:155%'><span lang=EN style='font-size:13.5pt;line-height:155%;
                    font-family:Roboto;color:#1E1E1E'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span lang=EN>To personalize User experience<br>
                    <br>
                    We may use information in the aggregate to understand how our Users as a group
                    use the services and resources provided on our Site.<br>
                    <br>
                    </span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
                    line-height:155%'><span lang=EN style='font-size:13.5pt;line-height:155%;
                    font-family:Roboto;color:#1E1E1E'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span lang=EN>To improve our Site<br>
                    <br>
                    We continually strive to improve our website offerings based on the information
                    and feedback we receive from Users.<br>
                    <br>
                    </span></p>
                    
                    <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
                    line-height:155%'><span lang=EN style='font-size:13.5pt;line-height:155%;
                    font-family:Roboto;color:#1E1E1E'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><span lang=EN>To process transactions<br>
                    <br>
                    We may use the information Users provide about themselves when making a
                    contribution only to provide service to that transaction. We do not share this
                    information with outside parties except to the extent necessary to provide the
                    service.<br>
                    <br>
                    </span></p>
                    
                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:25.0pt;
                    margin-left:.5in;text-align:justify;text-indent:-.25in;line-height:155%'><span
                    lang=EN style='font-size:13.5pt;line-height:155%;font-family:Roboto;color:#1E1E1E'>●<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                    lang=EN>To send periodic emails<br>
                    The email address Users provide for making a contribution or requesting for a
                    service will only be used to send them information and updates pertaining to
                    their contribution or requests. It may also be used to respond to their
                    inquiries and/or questions. If Users register an account, they automatically
                    decide to opt-in to our mailing list program; they may receive emails that may
                    include updates regarding their requests, service information, etc.</span></p>
                    
                    <h3 style='margin-top:14.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_azdjwor7yjty"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>How we protect your information</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>We
                    adopt appropriate data collection, storage and processing practices and
                    security measures to protect against unauthorized access, alteration,
                    disclosure or destruction of your personal information, email address,
                    password, transaction information and data stored on our Site. Sensitive and
                    private data exchange between the Site and its Users happens over a SSL secured
                    communication channel and is encrypted and protected with digital signatures.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_iagafjacigvs"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>Sharing your personal information</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>We do
                    not sell, trade, or rent Users’ personal identification information to others.
                    We may share generic aggregated demographic information not linked to any
                    personal identification information regarding visitors and Users with our
                    partner Medical Institutions and trusted affiliates outlined above. We may use
                    third party service providers to help us operate our business and the Site or
                    administer activities on our behalf, such as sending out newsletters. We may
                    share your information with these third parties for those limited purposes
                    provided that you have given us your permission. While The Red Bank Foundation
                    employs procedures to help ensure that personal information is only used for
                    authorized purposes, The Red Bank Foundation cannot make any guarantees with
                    respect to the actions or policies of the third party.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_bfsbhu910ohd"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>Changes to this Privacy Policy</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>The
                    Red Bank Foundation has the discretion to update this Privacy Policy at any
                    time. We encourage Users to frequently check this page for any changes to stay
                    informed about how we are helping to protect the personal information we
                    collect. Users acknowledge and agree that it is their responsibility to review
                    this Privacy Policy periodically and become aware of modifications.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_glyt4koucob"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>User acceptance of these terms</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>By
                    using this Site, Users signify their acceptance of this policy and terms of
                    service. If Users do not agree to this Privacy Policy, please do not use our
                    Site. Users continued use of the Site following the posting of changes to this
                    Privacy Policy will be deemed their acceptance of those changes.</span></p>
                    
                    <h3 style='margin-top:30.0pt;margin-right:0in;margin-bottom:5.0pt;margin-left:
                    0in;text-align:justify;line-height:139%;page-break-after:auto'><a
                    name="_1cvk7z3f95e"></a><b><span lang=EN style='font-size:16.0pt;line-height:
                    139%;color:black'>Contact Us</span></b></h3>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;margin-right:0in;margin-bottom:
                    14.0pt;margin-left:0in;text-align:justify;line-height:155%'><span lang=EN>If
                    you have any questions about this Privacy Policy, the practices of this Site,
                    or your dealings with this Site, please contact us at:</span></p>
                    
                    <p class=MsoNormal style='margin-top:14.0pt;text-align:justify;line-height:
                    155%'><b><span lang=EN>The Red Bank Foundation</span></b></p>
                    
                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
                    12.0pt;margin-left:0in;text-align:justify;line-height:150%'><b><span lang=EN>Quezon
                    City, Philippines</span></b></p>
                    
                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
                    12.0pt;margin-left:0in;text-align:justify;line-height:150%'><b><span lang=EN
                    style='font-size:11.5pt;line-height:150%;color:#050505'>jst@theredbank.org</span></b></p>
                    
                    <p class=MsoNormal style='text-align:justify'><span lang=EN>&nbsp;</span></p>
                    
                    </div>
            </div>
        </div>
      </div>
    </div> 
</div>

<app-footer></app-footer>
  