<!-- <div class = "content-wrapper" > -->
    <!-- ======= Header ======= -->
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

       <div class="logo">
        <a routerLink="/landing"><img src="../../../assets/images/redbank/redbank_logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/landing">Home</a></li>
          <li><a routerLink="/landing" fragment = "about">About</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/login">Log in / Sign up</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
    <!-- <div class="d-flex align-items-center px-0 bg-transparent" >
      <div class="row w-100 mx-0 my-5 bg-transparent ">
        <div class="col-lg-8 mx-auto auth">
            <div class="shadow-lg auth-form-light text-left py-5 px-4 px-sm-5 ">
              
            

            </div>
        </div>
    </div>
    </div>
</div> -->

<main id="main">
  
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a routerLink="/landing">Home</a></li>
          <li>FAQ</li>
        </ol>
        <h2>Frequently Asked Questions</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <div class=WordSection1>
                
                <p class=MsoNormal align=center style='text-align:center'><b><span lang=EN
                style='font-size:16.0pt;line-height:115%;color:#980000'>GENERAL</span></b></p>
                
                <p class=MsoNormal align=center style='text-align:center'><b><span lang=EN
                style='font-size:14.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>Who
                is The Red Bank Foundation?</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                style='font-size:12.0pt;line-height:115%'>            The Red Bank Foundation
                is a non-governmental organization (NGO) in the Philippines that has a goal of
                delivering and supplying blood, as much as possible to all the needy people
                with no cost. </span></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>Is
                The Red Bank Foundation an organization authorized to collect and give blood?</span></b></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>Yes. The Red Bank Foundation
                offers services such as hosting bloodletting events for the Blood Donors, and
                dispatching blood requests to the individual Blood Requesters who are in need,
                without any cost.</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='text-align:justify'><b><span lang=EN
                style='font-size:13.0pt;line-height:115%'>How can you reach us?</span></b></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                style='font-size:12.0pt;line-height:115%'>            You can send message us
                through our email address: <b>jst@redbank.org</b></span></p>
                
                <p class=MsoNormal style='text-align:justify'><span lang=EN style='font-size:
                12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal align=center style='text-align:center'><b><span lang=EN
                style='font-size:16.0pt;line-height:115%;color:#980000'>REQUESTING FOR A BLOOD</span></b></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                to request for blood?</span></b></p>
                
                <p class=MsoNormal style='margin-left:.5in'><span lang=EN style='font-size:
                12.0pt;line-height:115%'>               </span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>You need to log in to your
                registered account to be able to proceed with requesting for a blood. A <i>Request
                Form</i> will be provided for you to fill-up. Your blood request will be
                validated by The Red Bank Foundation to make sure that the information you gave
                is real and not fake.</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>Don’t have an account yet?
                Sign up <a target="_blank" routerLink="/login"><b><u>HERE</u></b></a></span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal align=center style='text-align:center'><b><span lang=EN
                style='font-size:16.0pt;line-height:115%;color:#980000'>DONATING A BLOOD</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>How
                to donate blood?</span></b></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                style='font-size:12.0pt;line-height:115%'>            All you need to do is to
                participate in one of the <i>Community-Based Mobile Blood Donation</i> (CBMBD)
                of The Red Bank Foundation and register as a Blood Donor. You will be screened
                during the said bloodletting event, to know if you are qualified to donate
                blood. </span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify'><span lang=EN
                style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>The details of the upcoming
                CBMBD will also be posted here on the website.</span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>Who
                can donate blood?</span></b></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:.5in'><span
                lang=EN style='font-size:12.0pt;line-height:115%'>Blood Donors must be age 18
                or older. Donors must weigh at least 110 pounds and be in good health.
                Additional eligibility criteria apply.</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in'><span lang=EN style='font-size:
                14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal><b><span lang=EN style='font-size:13.0pt;line-height:115%'>What
                are the qualifications before a donor can donate blood? </span></b></p>
                
                <p class=MsoNormal style='margin-left:.5in'><span lang=EN style='font-size:
                12.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in;line-height:
                150%'><span lang=EN style='font-size:12.0pt;line-height:150%'>●<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=EN style='font-size:12.0pt;line-height:150%'>Weight: At least 110 lbs (50
                kg).</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in;line-height:
                150%'><span lang=EN style='font-size:12.0pt;line-height:150%'>●<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=EN style='font-size:12.0pt;line-height:150%'>Blood volume collected will
                depend mainly on your body weight.</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in;line-height:
                150%'><span lang=EN style='font-size:12.0pt;line-height:150%'>●<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=EN style='font-size:12.0pt;line-height:150%'>Pulse rate: Between 60 and
                100 beats/minute with regular rhythm.</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in;line-height:
                150%'><span lang=EN style='font-size:12.0pt;line-height:150%'>●<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=EN style='font-size:12.0pt;line-height:150%'>Blood pressure: Between 90
                and 160 systolic and 60 and 100 diastolic.</span></p>
                
                <p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in;line-height:
                150%'><span lang=EN style='font-size:12.0pt;line-height:150%'>●<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=EN style='font-size:12.0pt;line-height:150%'>Hemoglobin: At least 125
                g/L.   </span></p>
                
                <p class=MsoNormal><span lang=EN style='font-size:14.0pt;line-height:115%'>&nbsp;</span></p>
                
                <p class=MsoNormal style='margin-bottom:15.0pt;'><b><span
                lang=EN style='font-size:13.0pt;line-height:115%;color:black'>How often can a
                person donate?</span></b></p>
                
                <p class=MsoNormal style='margin-top:15.0pt;text-indent:.5in;'><span
                lang=EN style='font-size:12.0pt;line-height:115%;color:black'>A healthy
                individual may donate every three months.</span></p>
                
                <p class=MsoNormal style='margin-bottom:15.0pt;'><b><span
                lang=EN style='font-size:13.0pt;line-height:115%'>&nbsp;</span></b></p>
                
                <p class=MsoNormal style='margin-bottom:15.0pt;'><b><span
                lang=EN style='font-size:13.0pt;line-height:115%;color:black'>How long will it
                take to donate blood?</span></b></p>
                
                <p class=MsoNormal style='margin-top:15.0pt;margin-right:0in;margin-bottom:
                15.0pt;margin-left:0in;text-align:justify;text-indent:.5in;'><span
                lang=EN style='font-size:12.0pt;line-height:115%;color:black'>The whole process
                of blood donation, from the registration up to the recovery, will only take an
                average of 30 minutes. The blood extraction will take about 5-10 minutes. The
                blood volume will start replenishing within 24 hours.</span></p>
                
                </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="mdi mdi-chevron-double-right"></i> <a routerLink="/landing">Home</a></li>
              <li><i class="mdi mdi-chevron-double-right"></i> <a routerLink="/landing" fragment = "about">About us</a></li>
              <li><i class="mdi mdi-chevron-double-right"></i> <a routerLink="/faq">FAQ</a></li>
              <li><i class="mdi mdi-chevron-double-right"></i> <a routerLink="/terms-conditions">Terms of service</a></li>
              <li><i class="mdi mdi-chevron-double-right"></i> <a routerLink="/privacy-policies">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              The Red Bank Foundation<br>
              Quezon City, NCR<br>
              Philippines<br><br>
              <strong>Email:</strong> jst@theredbank.org<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
         Copyright &copy; 2021<strong><span>The Red Bank Foundation</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
