<footer class="footer">
  <div class="d-sm-flex justify-content-left justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a target="_blank">The Red Bank Foundation</a>. All rights reserved.</span>
    <div class="d-sm-flex justify-content-right ">
      <span class="text-muted text-center text-sm-right d-block d-sm-inline-block">
        <a target="_blank" routerLink="/terms-conditions">Terms and Conditions</a> | <a target="_blank" routerLink="/privacy-policies">Privacy Policies</a></span>
    </div>
  </div> 
</footer>
